<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>List comparison tools</title>

    <link crossorigin="anonymous" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
          type="text/css"/>
    <link crossorigin="anonymous" href="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.css"
          rel="stylesheet"
          type="text/css"/>
    <link href="tools.min.css" rel="stylesheet" type="text/css"/>
    <script crossorigin="anonymous"
            src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>
    <script crossorigin="anonymous" src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
    <script crossorigin="anonymous" src="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.js"></script>
    <script crossorigin="anonymous"
            src="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue-icons.min.js"></script>
</head>
<body>
<div class="container card text-center p-3 mt-3 mb-3" id="app">
    <b-card no-body>
        <b-tabs card content-class="mt-3" fill pills>
            <b-tab active title="Compare lists">
                <b-card-text>
                    <div class="container">
                        <div class="row mb-3">
                            <div class="col-sm mb-3 text-center">
                                <label class="form-label" for="sourceList">Source list</label>
                                <textarea class="form-control" id="sourceList" name="sourceList"
                                          v-model="sourceList"></textarea>
                            </div>
                            <div class="col-sm mb-3 text-center">
                                <label class="form-label" for="targetList">Target list</label>
                                <textarea class="form-control" id="targetList" name="targetList"
                                          v-model="targetList"></textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm">
                                <button @click="compareLists" class="form-control btn btn-primary text-white">Compare
                                    lists
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="alert alert-secondary" role="alert">
                                    Single & double quotes, commas, semicolons, tabs, leading and trailing white spaces
                                    are going to be omitted during checking.
                                </div>
                                <div class="alert" role="alert" v-bind:class="rightJoinClass"
                                     v-if="showWarnings['show-right-join']">
                                    Missing in source list: {{rightJoin}}
                                </div>
                                <div class="alert" role="alert" v-bind:class="leftJoinClass"
                                     v-if="showWarnings['show-left-join']">
                                    Not contained in target list: {{leftJoin}}
                                </div>
                                <div class="alert alert-info" role="alert" v-if="showWarnings['show-inner-join']">
                                    Contained in both lists: {{innerJoin}}
                                </div>
                            </div>
                        </div>
                    </div>
                </b-card-text>
            </b-tab>
            <b-tab title="Find duplicates">
                <b-card-text>
                    <div class="container">
                        <div class="row mb-3">
                            <div class="col-sm mb-3 text-center">
                                <label class="form-label" for="repetitiveItems">Repetitive items</label>
                                <textarea class="form-control" id="repetitiveItems" name="repetitiveItems"
                                          v-model="repetitiveItems"></textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm">
                                <button @click="findDuplicates" class="form-control btn btn-primary text-white">Find
                                    duplicates
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="alert alert-secondary" role="alert">
                                    Single & double quotes, commas, semicolons, tabs, leading and trailing white spaces
                                    are going to be omitted during checking.
                                </div>
                                <div class="alert alert-danger" role="alert" v-if="showWarnings['show-duplicates']">
                                    Duplicates: {{duplicates}}
                                </div>
                                <div class="alert alert-success" role="alert" v-if="showWarnings['show-no-duplicates']">
                                    No duplicates found
                                </div>
                            </div>
                        </div>
                    </div>
                </b-card-text>
            </b-tab>
            <b-tab title="Find & replace occurrences">
                <b-card-text>
                    <div class="container">
                        <div class="row mb-3">
                            <div class="col-sm text-center">
                                <label class="form-label" for="keywords">Replace</label>
                                <input class="form-control" id="replacement" name="replacement" type="text"
                                       v-model="replacement">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm mb-3 text-center">
                                <label class="form-label" for="keywords">Find keywords</label>
                                <textarea class="form-control" id="keywords" name="keywords"
                                          v-model="keywords"></textarea>
                            </div>
                            <div class="col-sm mb-3 text-center">
                                <label class="form-label" for="textToCheck">Text to check & replace</label>
                                <textarea class="form-control" id="textToCheck" name="textToCheck"
                                          v-model="textToCheck"></textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm">
                                <button @click="findOccurrences" class="form-control btn btn-primary text-white">Find
                                    occurrences
                                </button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm">
                                <button @click="findAndReplaceOccurrences"
                                        class="form-control btn btn-primary text-white">Find & replace occurrences
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="alert alert-secondary" role="alert">
                                    Single & double quotes, commas, semicolons, tabs, leading and trailing white spaces
                                    are going to be omitted during checking/replacing.
                                </div>
                                <div class="alert alert-success" role="alert" v-if="showWarnings['show-occurred']">
                                    Keywords that occurred: {{occurred}}
                                </div>
                                <div class="alert alert-danger" role="alert" v-if="showWarnings['show-not-occurred']">
                                    Keywords that do not occurred: {{notOccurred}}
                                </div>
                            </div>
                        </div>
                    </div>
                </b-card-text>
            </b-tab>
        </b-tabs>
    </b-card>
</div>
<script src="tools.min.js"></script>
</body>
</html>
