<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>List comparison tools</title>

	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous" />
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" crossorigin="anonymous" />
	<link type="text/css" rel="stylesheet" href="tools.min.css" />
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue@latest/dist/vue.global.prod.js" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js" crossorigin="anonymous"></script>
</head>
<body>
	<div id="app" class="container card text-center p-3 mt-3 mb-3">
		<b-card no-body>
			<b-tabs content-class="mt-3" pills card fill>
				<b-tab title="Compare lists" active>
					<b-card-text>
						<div class="container">
							<div class="row mb-3">
								<div class="col-sm mb-3 text-center">
									<label for="sourceList" class="form-label">Source list</label>
									<textarea id="sourceList" name="sourceList" v-model="sourceList" class="form-control"></textarea>
								</div>
								<div class="col-sm mb-3 text-center">
									<label for="targetList" class="form-label">Target list</label>
									<textarea id="targetList" name="targetList" v-model="targetList" class="form-control"></textarea>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm">
									<button @click="compareLists" class="form-control btn btn-primary text-white">Compare lists</button>
								</div>
							</div>
							<div class="row">
								<div class="col-sm">
									<div role="alert" class="alert alert-secondary">
										Single & double quotes, commas, semicolons, tabs, leading and trailing white spaces are gonna be omitted during checking.
									</div>
									<div role="alert" class="alert" v-bind:class="rightJoinClass" v-if="showWarnings['show-right-join']">
										Missing in source list: {{rightJoin}}
									</div>
									<div role="alert" class="alert" v-bind:class="leftJoinClass" v-if="showWarnings['show-left-join']">
										Not contained in target list: {{leftJoin}}
									</div>
									<div role="alert" class="alert alert-info" v-if="showWarnings['show-inner-join']">
										Contained in both lists: {{innerJoin}}
									</div>
								</div>
							</div>
						</div>
					</b-card-text>
				</b-tab>
				<b-tab title="Find duplicates">
					<b-card-text>
						<div class="container">
							<div class="row mb-3">
								<div class="col-sm mb-3 text-center">
									<label for="repetitiveItems" class="form-label">Repetitive items</label>
									<textarea id="repetitiveItems" name="repetitiveItems" v-model="repetitiveItems" class="form-control"></textarea>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm">
									<button @click="findDuplicates" class="form-control btn btn-primary text-white">Find duplicates</button>
								</div>
							</div>
							<div class="row">
								<div class="col-sm">
									<div role="alert" class="alert alert-secondary">
										Single & double quotes, commas, semicolons, tabs, leading and trailing white spaces are gonna be omitted during checking.
									</div>
									<div role="alert" class="alert alert-danger" v-if="showWarnings['show-duplicates']">
										Duplicates: {{duplicates}}
									</div>
									<div role="alert" class="alert alert-success" v-if="showWarnings['show-no-duplicates']">
										No duplicates found
									</div>
								</div>
							</div>
						</div>
					</b-card-text>
				</b-tab>
				<b-tab title="Find & replace occurences">
					<b-card-text>
						<div class="container">
							<div class="row mb-3">
								<div class="col-sm text-center">
									<label for="keywords" class="form-label">Replace</label>
									<input type="text" id="replacement" name="replacement" v-model="replacement" class="form-control">
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm mb-3 text-center">
									<label for="keywords" class="form-label">Find keywords</label>
									<textarea id="keywords" name="keywords" v-model="keywords" class="form-control"></textarea>
								</div>
								<div class="col-sm mb-3 text-center">
									<label for="textToCheck" class="form-label">Text to check & replace</label>
									<textarea id="textToCheck" name="textToCheck" v-model="textToCheck" class="form-control"></textarea>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm">
									<button @click="findOccurences" class="form-control btn btn-primary text-white">Find occurences</button>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm">
									<button @click="findAndReplaceOccurences" class="form-control btn btn-primary text-white">Find & replace occurences</button>
								</div>
							</div>
							<div class="row">
								<div class="col-sm">
									<div role="alert" class="alert alert-secondary">
										Single & double quotes, commas, semicolons, tabs, leading and trailing white spaces are gonna be omitted during checking/replacing.
									</div>
									<div role="alert" class="alert alert-success" v-if="showWarnings['show-occured']">
										Keywords that occured: {{occured}}
									</div>
									<div role="alert" class="alert alert-danger" v-if="showWarnings['show-not-occured']">
										Keywords that do not occured: {{notOccured}}
									</div>
								</div>
							</div>
						</div>
					</b-card-text>
				</b-tab>
			</b-tabs>
		</b-card>
	</div>
	<script src="tools.min.js"></script>
</body>
</html>
